@CHARSET "UTF-8";

/* Nutritional data */
.rpr_nutritional_data,
.rpr_times{
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}


/* Ingredient list */
ul.rpr-ingredient-list{
    margin-left: 32px;
    clear:both;
}

/* Instructions */
ul.rpr-instruction-list{
    list-style: none;
}
ul.rpr-instruction-list li{
    margin-bottom:16px;
    clear:both;
}

ul.rpr-instruction-list .has_thumbnail.right{
    display:block;
    float:left;
    width:70%;
    width: calc( 70% - 10px );
}
ul.rpr-instruction-list img.right{
    margin: 0 0 8px 8px;
    float:right;
}
ul.rpr-instruction-list img.below{
    clear:both;
    margin-left:auto;
    margin-right:auto;
}


/* print link */
.entry-content .print-link a{
    text-decoration:none;
    border-bottom: none;
}
span.print-link{
    float:right;
}