@CHARSET "UTF-8";


/* Main recipe container */
.rpr-recipe-container {
    position: relative;
}

.rpr-terms-container,
.rpr-nutrition-container,
.rpr-ingredients-container,
.rpr-times-container,
.rpr-instruction-container,
.rpr-notes-container,
.rpr-description-container {
    margin: 0 0 2em 0;
}

.rpr-terms-container,
.rpr-nutrition-container,
.rpr-times-container {
    position: relative;
    text-align: center;
    color: #696969;
    border-bottom: 1px solid #dadada;
}

.rpr-description-container {
    position: relative;
}

.rpr-source-container {
    margin: -2em 0 2em 0;
    text-align: right;
}

/* Recipe nutrition */
.rpr-nutrition-container {
    
}

.rpr-nutrition-container .rpr_nutritional_data dl {
    margin: 0;
    display: inline;
}

.rpr-nutrition-container .rpr_nutritional_data dt {
    display: inline-block;
    margin: 0 5px 0 0;
}

.rpr-nutrition-container .rpr_nutritional_data dd {
    display: inline-block;
    margin: 0 10px 0 0;
}

.rpr-nutrition-container .rpr_nutritional_data .nutrition_per {
    margin: 0 10px 0 0;
}

/* Ingredient list */
.rpr-ingredients-container {

}

.rpr-ingredients-container h2,
.rpr-ingredients-container h3 {
    margin: 0 0 .5em 0 !important; /* Because themes have weird h tag margins. */
}

.rpr-ingredients-container .rpr_servings {
    text-align: right;
}

.rpr-ingredients-container ul.rpr-ingredient-list{
    margin: 0 0 .5em 1.5em;
}

/* Preparation times */
.rpr-times-container {

}

.rpr-times-container .rpr_times dl {
    display: inline-block;
    margin: 0;
}

.rpr-times-container .rpr_times dt {
    display: inline-block;
    margin: 0 5px 0 0;
}

.rpr-times-container .rpr_times dd {
    display: inline-block;
    margin: 0 10px 0 0;
}


/* Instructions */
.rpr-instruction-container {

}

.rpr-instruction-container h2,
.rpr-instruction-container h3 {
    margin: 0 0 .5em 0 !important; /* Because themes have weird h tag margins. */
}

.rpr-instruction-container ol.rpr-instruction-list{
    margin: 0 0 .5em 1.5em;
    counter-reset: item;
    list-style: none;
}

.rpr-instruction-container ol.rpr-instruction-list li{
    margin-bottom: 1em;
    clear: right;
    position: relative;
    counter-increment: item;
    list-style:none;
}

.rpr-instruction-container ol.rpr-instruction-list li:before{
    content: counter(item)".";
    position: absolute;
    left: -1.2em;
    font-weight: 600;
}

.rpr-instruction-container ol.rpr-instruction-list .has_thumbnail.right{
    display: inline-block;
    width: 60%;
    width: calc( 60% - 10px );
}

.rpr-instruction-container ol.rpr-instruction-list img.right{
    margin: 0 0 8px 8px;
    float: right;
}

.rpr-instruction-container ol.rpr-instruction-list img.below{
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

/* Recipe notes. */
.rpr-notes-container {

}

.rpr-notes-container h2,
.rpr-notes-container h3 {
    margin: 0 0 .5em 0 !important; /* Because themes have weird h tag margins. */
}

/* Recipe index page styling */
ul.rpr_alphabet_navigation {
	margin: 0 0 1em 0;
}

ul.rpr_alphabet_navigation:last-of-type {
	margin: 1em 0 0 0;
}

ul.rpr_alphabet_navigation li {
	display: inline-block;
	margin: 0 .3em;
	clear: left;
}

ul.rpr_taxlist {
	list-style: none;
	margin: 0;
}

/* print link */
.entry-content .print-link a {
    text-decoration:none;
    border-bottom: none;
}

span.print-link {
    float:right;
}