@CHARSET "UTF-8";

.rpr-recipe-container {
    position: relative;
}

.rpr-source-container {
	margin: 0 0 2em 0;
	text-align: right;
}

.rpr_col1{
	width: 48%;
	float: left;
}
.rpr_col2{
	width: 50%;
	float: right;
}

.rpr-times-container,
.rpr-nutrition-container,
.rpr-category-container,
.rpr-taxonomy-container,
.rpr-ingredients-container,
.rpr-instructions-container,
.rpr-notes-container,
.rpr-tags-container {
	margin: 0 0 2em 0;
}

.rpr-times-container h2,
.rpr-nutrition-container h2,
.rpr-category-container h2,
.rpr-taxonomy-container h2,
.rpr-ingredients-container h2,
.rpr-ingredients-container h3,
.rpr-instructions-container h2,
.rpr-instructions-container h3,
.rpr-notes-container h2,
.rpr-tags-container h2 {
	margin: 0 0 .5em 0 !important;
}

.rpr-ingredients-container ul.rpr-ingredient-list {
    margin: 0 0 1em 0;
}

/* definiton-lists */
.rpr_times,
.rpr_nutritional_data{
    display: inline-table;
}
.rpr_times dl{
   /* font-size: 100%!important;*/
}

.rpr_times dt,
.rpr_nutritional_data dt{
	float:left;
	display:table-cell;
	margin:0;
	clear: left;
}
.rpr_times dd,
.rpr_nutritional_data dd{
	display:table-cell;
	text-align:right;
	text-transform: none;
	float:right!important;
	margin:0;
	clear: right;
}

.rpr-container li{
	list-style: none;
}

/* ingredients */
ul.recipe-ingredients{
	list-style:none;
	display:table;
	margin-left:0;
	padding-left:0;
}
ul.recipe-ingredients li{
	/*border-bottom:#ccc 1px solid;*/
	padding:0.25ex 0;
}
li.ingredient-in-group{
	margin-left:32px; 
}
/* Times */
.recipe-times-icon{
	display:none;
}
.recipe-times-text{
	display:inline!important;
}

/* recipe instructions */
ol.recipe-instructions{
    vertical-align:top!important;
    }
ol.recipe-instructions li{
	list-style:decimal;
	margin:0 0 0.5em 0;
    vertical-align:top!important;
    clear:both;
   }
   
/* Nutrition */

ol.recipe-instructions span.rpr_instrimage_right{
	display:block;
	float:left;
    width:55%;
    width: calc( 55% - 10px );
}

ol.recipe-instructions img.rpr_instrimage_right{
	margin-left:10px;
    display:inline-block;
    vertical-align:top;
    width:45%;
}
ol.recipe-instructions  a.rpr_img_link{
	text-decoration:none;
	border:none!important;
}
span.print-link{
	float:right;
}

i.rpr_cuisine:before{
	content:"\f024";
}